<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CarubbiMailer" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="Url" value="http://revistainfra.com.br/tool/upmail/"/>
    <add key="SMTPUsuario" value="AKIAJEXLLB5VAS6QR3QA"/>
    <add key="SMTPSenha" value="AmMNKc7Cug9so0UlQEUuUXhTrA2aOZRBFczobM20Joil"/>
    <add key="TempoEspera" value="3"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="revista_infra" connectionString="Data Source=186.202.11.84;Initial Catalog=revista_infra;Integrated Security=False;User ID=sql_admin;Password=smart_58132_In;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
  <CarubbiMailer>
    <!-- SMTP -->
    <add key="HostSMTP" value="email-smtp.us-east-1.amazonaws.com"/>
    <add key="PortNumberSMTP" value="587"/>
    <add key="EnableSSLSMTP" value="true"/>
    <add key="UseDefaultCredentials" value="false"/>
  </CarubbiMailer>
</configuration>
